@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-size: 17px;
    color: #696969;
    line-height: 1.55rem;
}
h2{
    font-size: 50px;
}
h2 .mYworld{
    color: #ffa500;
}
#header .header-top{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
#header .header-top img{
    width: 100%;
}